DROP DATABASE IF EXISTS pharmacy;
CREATE DATABASE pharmacy;
USE pharmacy;

-- User Table
CREATE TABLE user
(
    user_id  INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50)  NOT NULL,
    email    VARCHAR(100) NOT NULL UNIQUE,
    password VARCHAR(100) NOT NULL,
    role     VARCHAR(20) DEFAULT 'employee'
);

INSERT INTO user (user_id, username, email, password, role)
VALUES (1, 'admin', 'admin@gmail.com', '1234', 'admin');

-- Customer Table
CREATE TABLE customer
(
    customer_id INT AUTO_INCREMENT PRIMARY KEY,
    name        VARCHAR(100) NOT NULL,
    contact     VARCHAR(20)  NOT NULL,
    address     VARCHAR(200)
);


INSERT INTO customer (name, contact, address)
VALUES ('Kamal Perera', '0771234567', 'Colombo 07'),
       ('Nimali Fernando', '0719876543', 'Negombo'),
       ('Saman Jayasinghe', '0754567890', 'Kandy'),
       ('Dilani Weerasinghe', '0763456789', 'Galle'),
       ('Nuwan Senanayake', '0702345678', 'Kurunegala'),
       ('Tharindu Silva', '0726789012', 'Matara'),
       ('Sanduni Wickramaratne', '0783456123', 'Anuradhapura');


-- Supplier Table
CREATE TABLE supplier
(
    supplier_id   INT AUTO_INCREMENT PRIMARY KEY,
    supplier_name VARCHAR(100) NOT NULL,
    email         VARCHAR(100) NOT NULL,
    contact_num   VARCHAR(20)  NOT NULL
);


INSERT INTO supplier (supplier_name, email, contact_num)
VALUES ('Lanka Pharma Distributors', 'info@lankapharma.lk', '+94 11 2345678'),
       ('SPMC Medical Supplies', 'sales@spmc.lk', '+94 11 2789456'),
       ('State Pharmaceuticals Corporation', 'contact@spc.lk', '+94 11 2698745'),
       ('HealthGuard Suppliers', 'healthguard@gmail.com', '+94 71 3456789'),
       ('Union Chemists Ltd', 'unionchem@sltnet.lk', '+94 11 2567894');


-- Medicine Table
-- Stores static info: Name, Brand, Base Price
CREATE TABLE medicine
(
    medicine_id  INT AUTO_INCREMENT PRIMARY KEY,
    med_name     VARCHAR(200)   NOT NULL,
    brand        VARCHAR(100)   NOT NULL,
    qty_in_stock INT            NOT NULL,
    unit_price   DECIMAL(10, 2) NOT NULL,
    exp_date     DATE           NOT NULL
);

INSERT INTO medicine (med_name, brand, qty_in_stock, unit_price, exp_date)
VALUES ('Paracetamol 500mg', 'Panadol', 500, 25.00, '2027-06-30'),
       ('Amoxicillin 500mg', 'Amoxil', 300, 60.00, '2026-12-31'),
       ('Cetirizine 10mg', 'Cetzine', 400, 35.00, '2027-03-15'),
       ('Vitamin C 500mg', 'Redoxon', 250, 80.00, '2026-08-20'),
       ('Metformin 500mg', 'Glycomet', 200, 55.00, '2027-01-10');


-- Medicine Items Table
-- Links Medicine + Supplier. Represents one specific box/bottle.
CREATE TABLE medicine_items
(
    item_id       INT AUTO_INCREMENT PRIMARY KEY,
    medicine_id   INT NOT NULL,
    supplier_id   INT,
    serial_number VARCHAR(30),
    received_date DATE DEFAULT (CURRENT_DATE),
    sold_date     DATE DEFAULT NULL,


    FOREIGN KEY (medicine_id) REFERENCES medicine (medicine_id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (supplier_id) REFERENCES supplier (supplier_id)
        ON DELETE SET NULL ON UPDATE CASCADE
);


-- Orders Table (The Header)
CREATE TABLE orders
(
    order_id    INT AUTO_INCREMENT PRIMARY KEY,
    customer_id INT,
    user_id     INT,
    total       DECIMAL(10, 2) NOT NULL,
    order_date  DATE DEFAULT (CURRENT_DATE),

    FOREIGN KEY (customer_id) REFERENCES customer (customer_id)
        ON DELETE SET NULL ON UPDATE CASCADE,
    FOREIGN KEY (user_id) REFERENCES user (user_id)
        ON DELETE SET NULL ON UPDATE CASCADE
);

-- Order Details Table
-- Links Order + Medicine.
CREATE TABLE order_medicine
(
    order_id    INT,
    medicine_id INT,
    qty         INT            NOT NULL,
    unit_price  DECIMAL(10, 2) NOT NULL,
    line_total  DECIMAL(10, 2) NOT NULL,


    PRIMARY KEY (order_id, medicine_id),

    FOREIGN KEY (order_id) REFERENCES orders (order_id)
        ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (medicine_id) REFERENCES medicine (medicine_id)
        ON DELETE CASCADE ON UPDATE CASCADE
);

-- Payment Table
CREATE TABLE payment
(
    payment_id     INT AUTO_INCREMENT PRIMARY KEY,
    order_id       INT            NOT NULL,
    amount         DECIMAL(10, 2) NOT NULL,
    payment_date   TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    payment_method VARCHAR(20),

    FOREIGN KEY (order_id) REFERENCES orders (order_id)
        ON DELETE CASCADE ON UPDATE CASCADE
);

TABLE customer;
TABLE medicine;
TABLE orders;
TABLE order_medicine;
TABLE supplier;
TABLE user;
TABLE medicine_items;
